:root {
    --body-url: url("../images/login-back.jpg");
    --login-section-color: rgba(255, 255, 255, 0.25);
    --login-section-blur-param: 5px;
    --login-section-padding: 20px;
    --logo-url: url("../images/mekalogo3 - pwa.png");
    --logo-size: 120px;
    --login-border-radius: 12px;
    --login-form-color: rgba(255, 255, 255, 0.63);
}

body {
    /*background: var(--body-url);*/
    background-repeat: no-repeat !important;
    background-size: cover !important;
    display: flex;
    justify-content:flex-start;
}

.language-switcher {
    display: none;
}

#login {
    margin: initial;
    padding: var(--login-section-padding);
    /*background-color: var(--login-section-color);*/
    -webkit-backdrop-filter: blur(var(--login-section-blur-param));
    backdrop-filter: blur(var(--login-section-blur-param));
}

p#nav a {
    color: lightgray !important;
}

p#nav a:hover {
    color: white !important;
}

p#backtoblog a {
    color: lightgray !important;
}

p#backtoblog a:hover {
    color: white !important;
}

.login h1 a {
    /*background-image: var(--logo-url);*/
    background-size: var(--logo-size);
    height: var(--logo-size);
    width: var(--logo-size);
}

.login form {
    border-radius: var(--login-border-radius);
    /*background-color: var(--login-form-color);*/
}

p#login-message {
    border-radius: var(--login-border-radius);
}

div#login_error {
    border-radius: var(--login-border-radius);
}

p.forgetmenot input {
    display: none;
}

p.forgetmenot label {
    position: relative;
    padding-right: 40px;
}

p.forgetmenot label:before {
    background: white;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
    border: 1px solid #dadada;
    content:"";
    width: 35px;
    height: 20px;
    border-radius: 60px;
    position: absolute;
    right: 0;
    top: 1px;
}

p.forgetmenot label:after {
    content:"";
    width: 17px;
    height: 17px;
    background: #e71313;
    border-radius: 50%;
    position: absolute;
    right: 3px;
    top: 4px;
    transition: 0.3s ease-in-out;
}

p.forgetmenot input:checked + label:after {
    right: 16px;
    background-color: green;
}

input#wp-submit {
    border-radius: 15px;
    background-color: purple;
    border-color: #bd84ff;
}